@using Marks.Module.Wiki.Services
@using Marks.Module.Wiki.Models

@namespace Marks.Module.Wiki
@inherits ModuleBase
@inject IWikiService WikiService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Index> Localizer

@if (_Wikis == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Security="SecurityAccessLevel.Edit" Text="Add Wiki" ResourceKey="Add" />
    <br />
    <br />
    @if (@_Wikis.Count != 0)
    {
        <Pager Items="@_Wikis">
            <Header>
                <th style="width: 1px;">&nbsp;</th>
                <th style="width: 1px;">&nbsp;</th>
                <th>@Localizer["Name"]</th>
            </Header>
            <Row>
                <td><ActionLink Action="Edit" Parameters="@($"id=" + context.WikiId.ToString())" ResourceKey="Edit"  /></td>
                <td><ActionDialog Header="Delete Wiki" Message="Are You Sure You Wish To Delete This Wiki?" Action="Delete" Security="SecurityAccessLevel.Edit" Class="btn btn-danger" OnClick="@(async () => await Delete(context))" ResourceKey="Delete"  Id="@context.WikiId.ToString()" /></td>
                <td>@context.Name</td>
            </Row>
        </Pager>
    }
    else
    {
        <p>@Localizer["Message.DisplayNone"]</p>
    }
}

@code {
    public override string RenderMode => RenderModes.Static;

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" },
        new Resource { ResourceType = ResourceType.Script, Url = ModulePath() + "Module.js" }
    };

    List<Wiki> _Wikis;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _Wikis = await WikiService.GetWikisAsync(ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Wiki {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private async Task Delete(Wiki Wiki)
    {
        try
        {
            await WikiService.DeleteWikiAsync(Wiki.WikiId, ModuleState.ModuleId);
            await logger.LogInformation("Wiki Deleted {Wiki}", Wiki);
            _Wikis = await WikiService.GetWikisAsync(ModuleState.ModuleId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Deleting Wiki {Wiki} {Error}", Wiki, ex.Message);
            AddModuleMessage(Localizer["Message.DeleteError"], MessageType.Error);
        }
    }
}